
/* Just for the example. Fee free to delete these three lines */

/* Style the thumbnails */
.pika-thumbs li
{
	width: 144px;
	height:74px;
	margin: 10px 0 0 17px;
	padding: 0;
	overflow: hidden;
	float: left;
	list-style-type: none;
	padding: 3px;
	margin: 0 5px;
	background: #fafafa;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.pika-thumbs li:last 
{
	margin: 0;
}

.pika-thumbs li .clip
{
	position:relative;
	height:100%;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
}

/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav
{
	width: 500px;
}

.pika-stage
{
	position: relative;
}


/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		

.pika-loader
{
	background:url(../images/loading.gif) 3px 3px no-repeat #000;
	background-color:rgba(0,0,0,0.9);
	color:white;
	width:60px;
	font-size:11px;
	padding:5px 3px;
	text-align:right;
	position:absolute;
	top:15px;
	right:15px;
}
