
/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Blink Creative
*   Date:    21 March 2012
*   Web:     http://work.igeekify.com
*   Email:   breon@blinkcreative.com.au
*   Version: 1.0
* 
*************************************************************************/


/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea, button
{
	background: transparent;
	border: 0;
	font-size: 100%;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
{
	display: block;
}

nav ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

a
{
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ins
{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark
{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del
{
	text-decoration: line-through;
}

abbr[title], dfn[title]
{
	border-bottom: 1px dotted #000;
	cursor: help;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

hr
{
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input, select
{
	vertical-align: middle;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

body
{
	background: #ede6d6;
	font-family: Georgia, "Times New Roman", Times, serif;
}

body.shop
{
	background: #ffffff;
}

body.brown
{
	background: #665649;
}

body.orange
{
	background: #F07D00;
}

body.green
{
	background: #A9C717;
}

.wrapper
{
	margin: 0 auto;
	width: 1000px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.clear
{
	clear: both;
}

/*-----------------------------------------------------------------------
Fonts
------------------------------------------------------------------------*/

@font-face
{
	font-family: 'DeliciousBold';
	src: url('../fonts/delicious-bold-webfont.eot');
	src: url('../fonts/delicious-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/delicious-bold-webfont.woff') format('woff'), url('../fonts/delicious-bold-webfont.ttf') format('truetype'), url('../fonts/delicious-bold-webfont.svg#DeliciousBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'DancingScriptRegular';
	src: url('../fonts/dancing_script-webfont.eot');
	src: url('../fonts/dancing_script-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dancing_script-webfont.woff') format('woff'), url('../fonts/dancing_script-webfont.ttf') format('truetype'), url('../fonts/dancing_script-webfont.svg#DancingScriptRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.delicious
{
	color: #A8C712 !important;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 16px !important;
}

/*-----------------------------------------------------------------------
Sticky Footer
------------------------------------------------------------------------*/

.home #frame-footer
{
	background-color: #62574a;
}

html, body
{
	height: 100%;
}

#site-wrapper
{
	min-height: 100%;
}

#main-content
{
	overflow-x: hidden;
	padding-bottom: 90px;
}

#frame-footer
{
	background: url(../images/footer-generic.png) repeat-x top;
	clear: both;
	height: 50px;
	margin-top: -90px;
	padding: 20px 0;
	position: relative;
}

body:before
{
	content: "";
	float: left;
	height: 100%;
	margin-top: -32767px;
/ width:0;
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

/*--Header--------------------------------------------------------------*/

#frame-header
{
	background: url(../images/header-pattern.png) repeat-x bottom;
	padding: 0 0 8px;
	position: relative;
	z-index: 1000;
}

#header-background
{
	background: #f4f1eb;
	padding: 10px 0 20px;
}

/*--Navigation----------------------------------------------------------*/

#navigation-main
{
	position: relative;
	z-index: 99999;
}

#navigation-main li
{
	float: left;
	font-family: 'DeliciousBold';
	height: 81px;
	margin: 0 10px 0 0;
	position: relative;
	width: 192px;
	z-index: 99999;
}

#navigation-main li#nav-shop
{
	margin: 0;
}

#navigation-main li a
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #665649;
	color: #ffffff;
	display: block;
	font-family: 'DeliciousBold';
	font-size: 23px;
	font-weight: normal;
	height: 81px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 192px;
}

#navigation-main li a:hover, .shop #navigation-main li#nav-shop a, .stockists #navigation-main li#nav-stockists a
{
	background: #A8C712;
}

#navigation-main li#nav-shop a
{
	background: #F07D00;
}

#navigation-main li#nav-shop a:hover
{
	background: #A8C712;
}

#navigation-main li a span
{
	font-family: 'DancingScriptRegular';
	font-size: 24px;
	font-weight: normal;
	text-transform: none;
}

#navigation-main li#nav-what span, #navigation-main li#nav-people span, #navigation-main li#nav-gallery span
{
	display: block;
	padding: 10px 0 0;
}

#navigation-main li#nav-stockists a, #navigation-main li#nav-shop a
{
	height: 54px;
	padding: 27px 0 0;
}

/*--dropdown--*/

.sf-menu ul
{
	position: absolute;
	top: -999em;
	width: 10em;
}

.sf-menu ul li
{
	width: 100%;
}

.sf-menu li:hover
{
	visibility: inherit;
}

.sf-menu li
{
	float: left;
	position: relative;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul
{
	left: 0;
	top: 81px;
	z-index: 99;
}

#navigation-main ul ul
{
	background: #62564b;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	margin: 0 0 0 10px;
	padding: 15px 15px 10px;
	width: 144px;
}

#navigation-main li li
{
	height: auto;
	line-height: 20px;
	padding: 0 0 8px;
	width: 100%;
}

#navigation-main li li a
{
	background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	height: auto;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	width: auto;
}

#navigation-main li li a:hover
{
	background: none;
	color: #A8C712;
}

#navigation-main .sf-menu > li.sfHover > a
{
	background: #A8C712;
	outline: 0;
}

/*--Content-------------------------------------------------------------*/

#frame-content
{
	margin: 55px auto 0;
	padding: 0 0 95px 40px;
	position: relative;
}

#frame-content .wrapper,
#frame-stockists .wrapper
{
	position: relative;
}

#frame-content #content-copy
{
	padding: 20px 0 0;
	position: relative;
	width: 390px;
	z-index: 2;
}

#frame-content h1
{
	color: #A8C712;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 48px;
	text-transform: uppercase;
}

#frame-content h1 span
{
	display: block;
	font-family: 'DancingScriptRegular';
	font-size: 45px;
	font-weight: normal;
	line-height: 38px;
	text-transform: none;
}

#frame-content h2
{
	color: #62564b;
	font-family: 'DeliciousBold';
	font-size: 23px;
	font-weight: normal;
	line-height: 25px;
	margin: 30px 0 0;
	text-transform: uppercase;
}

#frame-content p
{
	color: #62564B;
	font-size: 16px;
	font-style: italic;
	margin: 10px 0 0;
	line-height: 22px;
}

#splash-gear
{
	position: relative;
}

#rotating-gear
{
	background: url("../images/gear-hompage.gif") no-repeat scroll 0 0 transparent;
	height: 200px;
	position: absolute;
	right: 64px;
	top: -20px;
	width: 201px;
}

#splash-gear h3
{
	color: #FFFFFF;
	font-family: 'DancingScriptRegular';
	font-weight: normal;
	position: absolute;
	right: 108px;
	text-align: center;
	text-transform: none;
	top: 38px;
	z-index: 9999;
}

#splash-gear h3 span.free
{
	display: block;
	font-size: 40px;
	height: 36px;
	line-height: 40px;
	overflow: hidden;
}

#splash-gear h3 span.shipping
{
	color: #FFFFFF;
	display: block;
	font-family: 'DeliciousBold';
	font-size: 30px;
	font-weight: normal;
	height: 30px;
	overflow: hidden;
	text-transform: uppercase;
}

/*--Footer--------------------------------------------------------------*/

#footer-container
{
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 20px;
}

#copyright
{
	height: 20px;
}

#footer-contact
{
	background: #f9b000;
	text-align: center;
}

#footer-contact h2
{
	color: #ffffff;
	font-family: 'DeliciousBold';
	font-size: 23px;
	font-weight: normal;
	line-height: 43px;
	text-transform: uppercase;
}

#footer-contact h2 span
{
	font-family: 'DancingScriptRegular';
	font-size: 24px;
	font-weight: normal;
	text-transform: none;
}

#navigation-footer li
{
	border-right: 1px solid #ffffff;
	color: #ffffff;
	float: left;
	font-size: 9px;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0;
}

#navigation-footer
{
	margin: 14px 0 0;
	width: 197px;
}

#navigation-footer li.end
{
	border: none;
}

#navigation-footer li a
{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation-footer li a:hover
{
	text-decoration: underline;
}

#logo-site
{
	height: 56px;
	margin: 5px auto 30px;
	padding: 20px 0 0;
	width: 1002px;
}

#shout
{
	color: #ffffff;
	font-size: 10px;
	font-style: italic;
	margin: 14px 0 0;
	width: 120px;
}

#shout a
{
	color: #ffffff;
	text-decoration: none;
}

#shout a:hover
{
	text-decoration: underline;
}

/*--Panel Fly--*/

#contact-panel
{
	background: url("../images/divider-panel.gif") repeat-x scroll 0px 58px transparent;
	display: none;
	height: 280px;
	margin: 0 auto 0;
	padding: 58px 0 0;
	width: 1000px;
}

#expand-button
{
	cursor: pointer;
	margin: 0 0 0 240px;
	width: 192px;
}

.plus
{
	background: url(../images/plus-minus.png) no-repeat 0 -18px;
	display: block;
	height: 18px;
	margin: 12px 0 0;
	text-indent: -9999px;
	width: 18px;
}

.minus
{
	background: url(../images/plus-minus.png) no-repeat 0 0;
	display: block;
	height: 18px;
	margin: 12px 0 0;
	text-indent: -9999px;
	width: 18px;
}

#contact-form
{
	padding: 36px 0 0 65px;
	text-align: left;
	width: 660px;
}

#contact-information
{
	float: left;
	margin: 36px 0 0 0;
	text-align: left;
	width: 275px;
}

#contact-information p
{
	color: #ffffff;
	font-size: 14px;
	font-style: italic;
	margin: 0 0 10px;
	position: relative;
	z-index: 9;
}

#contact-information dl
{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 22px;
}

#contact-information dl a
{
	color: #ffffff;
	font-size: 14px;
}

#contact-information dl a:hover
{
	text-decoration: none;
}

#contact-information dt
{
	clear: both;
	float: left;
	font-weight: bold;
}

#contact-information dd
{
	float: left;
	margin: 0 0 0 5px;
}

.success, .error
{
	color: #FFFFFF;
	display: none;
	font-size: 16px;
	font-style: italic;
}

#email-message
{
	margin: 28px 0 0;
}

/*--contact form--*/


#contact-form label
{
	color: #FFFFFF;
	display: block;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 5px;
	text-transform: uppercase;
}

#contact-form input
{
	background: #ffffff;
	color: #665549;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	margin: 0 0 14px;
	padding: 7px;
	width: 300px;
}

#contact-form textarea
{
	background: #ffffff;
	color: #665549;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	height: 100px;
	padding: 7px;
	resize: none;
	overflow: hidden;
	width: 300px;
}

#input-fields
{
	margin: 0 20px 0 0;
	width: 300px;
}

#enquiry-fields
{
	width: 315px;
}

#enquiry-fields button
{
	background: none repeat scroll 0 0 #665549;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	margin: 20px 0 0;
	padding: 5px;
}

#enquiry-fields button:hover
{
	background: #D67C1C;
}

/*-----------------------------------------------------------------------
Homepage
------------------------------------------------------------------------*/

.home .button
{
	behavior: url(js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #F07D00;
	color: #ffffff;
	display: inline-block;
	font-family: 'DeliciousBold';
	font-size: 23px;
	line-height: 57px;
	font-weight: normal;
	height: 60px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 150px;
	margin-top: 30px;
}

.home .button:hover
{
	background: #A8C712;
}

.home .slide-content .button
{
	background-color: transparent;
	border: 2px solid #F07D00;
	color: #F07D00;
	font-size: 18px;
	height: 50px;
	line-height: 48px;
	width: 120px;
}

.home .slide-content .button span
{
	font-family: 'DancingScriptRegular';
	font-weight: normal;
	text-transform: none;
}

.home .slide-content .button:hover
{
	background-color: #F07D00;
	color: white;
}

.home #frame-modules .button span
{
	font-size: 22px;
}

.main-content
{
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.home .main-content .top-border
{
	background-image: url('../images/header-tan.png');
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 20px;
	top: -14px;
	left: 0;
}

.home .main-content .bottom-border
{
	background-image: url('../images/footer-tan.png');
	background-repeat: repeat-x;
	background-position: bottom center;
	position: absolute;
	width: 100%;
	height: 28px;
	bottom: -7px;
	left: 0;
}

.home #frame-modules
{
	color: #62574a;
	padding: 60px 0;
}

.home #frame-modules p
{
	min-height: 78px;
	font-size: 16px;
	font-style: italic;
	line-height: 22px;
	padding: 12px 0 0;
}

.home #frame-modules h2
{
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 32px;
	font-weight: normal;
	padding: 35px 0 10px;
	text-transform: uppercase;
}

.home #frame-modules span
{
	font-family: 'DancingScriptRegular';
	font-size: 34px;
	font-weight: normal;
	text-transform: none;
}

.home .module-container
{
	width: 85%;
	margin: 0 auto;
}

.home .why, .home .shop
{
	width: 49.8%;
	text-align: center;
	display: inline-block;
}

.home .why img, .home .shop img
{
	display: inline-block;
	vertical-align: middle;
}

.home .main-content
{
	overflow: visible;
}

/*--Slider--------------------------------------------------------------*/

.rslides
{
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.slides li
{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.slides li:first-child
{
	position: relative;
	display: block;
	float: left;
}

#slider
{
	width: 100%;
	height: 600px;
	z-index: 1;
	top: -7px;
	position: relative;
}

#slider ul, #slider li
{
	height: 100%;
	width: 100%;
}

.logo-container
{
	width: auto;
	margin: 0 auto;
	left: 50%;
	top: 15%;
	margin-left: -500px;
	position: absolute;
	z-index: 3;
	-ms-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	filter: alpha(opacity=1);   	/* internet explorer */
	-khtml-opacity: 1;			    /* khtml,old safari */
	-moz-opacity: 1;			      /* mozilla, netscape */
	opacity: 1;					        /* fix,safari,opera */
}

.slide-container
{
	margin: 0 auto;
	position: relative;
	width: 1000px;
	height: 100%;
}

.slide-content
{
	width: 60%;
	min-height: 165px;
	position: absolute;
	filter: alpha(opacity=0);   	/* internet explorer */
	-khtml-opacity: 0;			    /* khtml,old safari */
	-moz-opacity: 0;			      /* mozilla, netscape */
	opacity: 0;					        /* fix,safari,opera */
	bottom: -15%;
	margin-bottom: 100px;
	-ms-transition: all 250ms ease-in;
	-webkit-transition: all 250ms ease-in;
	-moz-transition: all 250ms ease-in;
	-o-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}

@media only screen and (max-width:1500px) {

.slide-content
{
	width: 40%;
}
}

.rslides1_on .slide-content
{
	filter: alpha(opacity=1);   	/* internet explorer */
	-khtml-opacity: 1;			    /* khtml,old safari */
	-moz-opacity: 1;			      /* mozilla, netscape */
	opacity: 1;					        /* fix,safari,opera */
	bottom: 0;
	/* -ms-transition:     all 500ms ease-out 550ms;
    -webkit-transition: all 500ms ease-out 550ms;
    -moz-transition:    all 500ms ease-out 550ms;
    -o-transition:      all 500ms ease-out 550ms;
    transition:         all 500ms ease-out 550ms;
    */
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}

.slide-content h2
{
	color: #62564b;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 23px;
	font-weight: normal;
	text-transform: uppercase;
}

.slide-content h2 span
{
	text-transform: lowercase;
}

.slide-content p
{
	color: #62564B;
	font-size: 16px;
	font-style: italic;
	margin: 10px 0 0;
	line-height: 22px;
}

.preload .slide
{
	filter: alpha(opacity=0);   	/* internet explorer */
	-khtml-opacity: 0;			    /* khtml,old safari */
	-moz-opacity: 0;			      /* mozilla, netscape */
	opacity: 0;					        /* fix,safari,opera */
}

.preload .logo-container
{
	filter: alpha(opacity=0);   	/* internet explorer */
	-khtml-opacity: 0;			    /* khtml,old safari */
	-moz-opacity: 0;			      /* mozilla, netscape */
	opacity: 0;					        /* fix,safari,opera */
	left: 60%;
}

.slide
{
	filter: alpha(opacity=1);   	/* internet explorer */
	-khtml-opacity: 1;			    /* khtml,old safari */
	-moz-opacity: 1;			      /* mozilla, netscape */
	opacity: 1;					        /* fix,safari,opera */
	-ms-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.slide.one
{
	background-image: url('../images/slider/slide-img01.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #f7f7fa;
}

.slide.two
{
	background-image: url('../images/slider/slide-img02.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #edecea;
}

.slide.three
{
	background-image: url('../images/slider/slide-img03.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #ebeae0;
}

/*--Facebook-------------------------------------------------------------*/

.facebook,
.comparison
{
	background-color: #62574a;
	text-align: center;
	padding: 35px 0;
	position: relative;
}

.facebook a
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.facebook img
{
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
}

/*--Splash--------------------------------------------------------------*/

#frame-splash
{
	padding: 65px 0 60px;
}

#splash-container
{
	padding: 0 45px 0 74px;
	position: relative;
}

#splash-content
{
	width: 540px;
}

#splash-copy
{
	margin: 30px 0 0;
	width: 457px;
}

#splash-copy h2
{
	color: #62564b;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 23px;
	font-weight: normal;
	text-transform: uppercase;
}

#splash-copy h2 span
{
	text-transform: lowercase;
}

#splash-copy p
{
	color: #62564B;
	font-size: 16px;
	font-style: italic;
	margin: 10px 0 0;
	line-height: 22px;
}

#splash-image
{
	background: url(../images/sprite-solid-one.jpg) top left no-repeat;
	display: block;
	height: 258px;
	margin: 199px 0 0;
	width: 339px;
}

/*--Content-------------------------------------------------------------*/

#module-why
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: url("../images/sprite-solid-one.jpg") no-repeat scroll 271px -480px #A8C712;
	border-radius: 10px;
	height: 147px;
	margin: 0 0 40px;
	padding: 25px 140px 25px 30px;
	width: 443px;
}

#module-shop
{
	height: 197px;
	margin: 0 0 40px;
	width: 377px;
}

#module-shop a
{
	background: #F07D00 url(../images/sprite-solid-one.jpg) 10px -265px no-repeat;
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #ffffff;
	border-radius: 10px;
	display: block;
	height: 147px;
	padding: 25px 50px 25px 30px;
	text-decoration: none;
	width: 297px;
}

#module-shop h2, #module-why h2
{
	color: #ffffff;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
}

#module-shop h2 span, #module-why h2 span
{
	font-family: 'DancingScriptRegular';
	font-size: 34px;
	font-weight: normal;
	text-transform: none;
}

#module-why p
{
	color: #FFFFFF;
	font-size: 16px;
	font-style: italic;
	line-height: 22px;
	padding: 12px 0 0;
}

#module-why p a
{
	color: #ffffff;
	text-decoration: none;
}

#module-why p a:hover
{
	text-decoration: underline;
}

/*-----------------------------------------------------------------------
Stockists
------------------------------------------------------------------------*/

#frame-stockists
{
	margin: 55px auto 0;
	padding: 0 0 55px 40px;
	position: relative;
}

#frame-stockists .wrapper
{
	background: url("../images/sprite-solid-two.jpg") no-repeat scroll 339px -459px transparent;
}

#frame-stockists h1
{
	color: #A8C712;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 48px;
	text-transform: uppercase;
}

#frame-stockists h1 span
{
	display: block;
	font-family: 'DancingScriptRegular';
	font-size: 45px;
	font-weight: normal;
	line-height: 38px;
	text-transform: none;
}

#stockists-list h2
{
	color: #62564B;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 23px;
	font-weight: normal;
	text-transform: uppercase;
}

#stockists-list #stockist-nsw h2
{
	padding: 30px 0 0;
}

#stockists-list
{
	padding: 67px 0 20px;
}

#stockists-list li
{
	float: left;
	margin: 0 10px 0 0;
	width: 300px;
}

#stockist-nsw, #stockist-qld
{
	padding: 223px 0 0;
}

#stockists-list dl
{
	margin: 15px 0 0;
}

#stockists-list dt
{
	color: #A8C712;
	font-size: 17px;
	font-style: italic;
}

#stockists-list dd
{
	color: #62564B;
	font-size: 16px;
	font-style: italic;
	padding: 10px 0 0;
}

#stockists-list dd a
{
	color: #62564B;
	text-decoration: none;
}

#stockists-list dd a:hover
{
	text-decoration: underline;
}

#bird-large
{
	background: url("../images/bird-large.png") no-repeat scroll 0 0 transparent;
	height: 105px;
	position: absolute;
	right: 82px;
	top: 150px;
	width: 118px;
}

.eye
{
	background: url("../images/bird-eye.jpg") no-repeat scroll 0 0 transparent;
	height: 27px;
	position: absolute;
	width: 28px;
}

#eye-left
{
	left: 516px;
	top: 69px;
}

#eye-right
{
	left: 586px;
	top: 79px;
}

/*-----------------------------------------------------------------------
Gallery
------------------------------------------------------------------------*/

#frame-gallery
{
	height: 1250px;
	margin: 55px auto 0;
	padding: 0 0 55px 40px;
	position: relative;
}

#frame-gallery .wrapper
{
	background: url("../images/background-gallery.jpg") no-repeat scroll 30px 415px transparent;
	position:relative;	
}

#frame-gallery h1
{
	color: #A8C712;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 48px;
	text-transform: uppercase;
}

#frame-gallery h1 span
{
	display: block;
	font-family: 'DancingScriptRegular';
	font-size: 45px;
	font-weight: normal;
	line-height: 38px;
	text-transform: none;
}

#frame-gallery h2
{
	color: #A8C712;
	font-family: 'DeliciousBold';
	font-size: 16px;
	font-weight: normal;
	margin: 8px 0 0;
	text-transform: uppercase;
}

#gallery
{
	position: relative;
	top: 0;
	min-height:500px;
}


/*--thumbnails--*/

.gallery #navigation-main li#nav-gallery > a
{
	background: #A8C712;
	color: #ffffff;
}

#thumb-one a, #thumb-two a, #thumb-three a, #thumb-four a, #thumb-five a, #thumb-six a, #thumb-seven a, #thumb-eight a, #thumb-nine a, #thumb-ten a
{
	background: url(../images/gallery/thumbnails/thumb-sprite.jpg) no-repeat;
	position: absolute;
}

#thumb-one a
{
	background-position: 0 0;
	display: block;
	height: 370px;
	text-indent: -9999px;
	top: 42px;
	width: 257px;
}

#thumb-two a
{
	background-position: -257px 0;
	display: block;
	height: 249px;
	left: 298px;
	text-indent: -9999px;
	top: 36px;
	width: 273px;
}

#thumb-three a
{
	background-position: -530px 0;
	display: block;
	height: 323px;
	left: 609px;
	text-indent: -9999px;
	top: -90px;
	width: 322px;
}

#thumb-four a
{
	background-position: -6px -371px;
	display: block;
	height: 297px;
	left: 5px;
	text-indent: -9999px;
	top: 493px;
	width: 299px;
}

#thumb-five a
{
	background-position: -305px -265px;
	display: block;
	height: 329px;
	left: 341px;
	text-indent: -9999px;
	top: 404px;
	width: 244px;
}

#thumb-six a
{
	background-position: -552px -323px;
	display: block;
	height: 378px;
	left: 593px;
	text-indent: -9999px;
	top: 261px;
	width: 335px;
}

#thumb-seven a
{
	background-position: -304px -701px;
	display: block;
	height: 317px;
	left: 320px;
	text-indent: -9999px;
	top: 761px;
	width: 296px;
}

#thumb-eight a
{
	background-position: -661px -701px;
	display: block;
	height: 192px;
	left: 716px;
	text-indent: -9999px;
	top: 647px;
	width: 191px;
}

#thumb-nine a
{
	background-position: -603px -894px;
	display: block;
	height: 279px;
	left: 658px;
	text-indent: -9999px;
	top: 846px;
	width: 274px;
}

#thumb-ten a
{
	background-position: 7px -694px;
	display: block;
	height: 329px;
	left: 0;
	text-indent: -9999px;
	top: 816px;
	width: 274px;
}

/*-----------------------------------------------------------------------
Shop
------------------------------------------------------------------------*/

#frame-shop
{
	margin: 55px auto;
	padding: 0 0 0 40px;
	position: relative;
	width: 960px;
}

#custom-button a
{
	background: url("../images/button-custom.jpg") no-repeat scroll 0 0 transparent;
	display: block;
	height: 145px;
	position: absolute;
	right: 70px;
	text-indent: -9999px;
	width: 145px;
	top: -40px;
}

#frame-shop h1
{
	margin: 0 0 0 15px;
}

#frame-shop h1 .logo-genericwhite
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -444px 0;
	display: block;
	float: left;
	height: 52px;
	text-indent: -9999px;
	width: 217px;
}

#frame-shop h1 .title
{
	color: #A8C712;
	float: left;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 52px;
	margin: 0 0 0 20px;
	text-transform: uppercase;
}

#shop-container
{
	padding: 55px 0 0;
}

/*--Social--*/

#product-social
{
	position: absolute;
	top: 390px;
	width: 430px;
	z-index: 999;
}

#facebook
{
	overflow: hidden;
	width: 300px;
}

#twitter
{
	margin: 0 8px 0 0;
}

#twitter a
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -501px -53px;
	display: block;
	height: 19px;
	text-indent: -9999px;
	width: 20px;
}

#twitter a:hover
{
	background-position: -501px -72px;
}

#email a
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -521px -53px;
	display: block;
	height: 19px;
	text-indent: -9999px;
	width: 20px;
}

#email a:hover
{
	background-position: -521px -72px;
}

/*--product viewer--*/

.pika-stage
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e9e5d6;
	height: 375px;
	width: 430px;
}

.pika-stage img
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	max-width: 430px;
}

#product-image
{
	padding: 50px 5px 0 15px;
}

#product-image li
{
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	border: 1px solid #e9e5d6;
	float: left;
	height: 75px;
	margin: 0 8px 0 0;
	width: 75px;
}

#product-image li img
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	border-radius: 999px;
}

#product-viewer
{
	position: relative;
}

#product-viewer h3
{
	clear: both;
	color: #A8C712;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding: 20px 0 0;
	text-align: center;
	width: 434px;
}

.pika-thumbs li
{
	behavior: url(/js/PIE.htc);
	-moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	border: 1px solid #e9e5d6;
	cursor: pointer;
	float: left;
	height: 94px;
	margin: 0 8px 0 0;
	width: 94px;
}

.pika-thumbs li:last 
{
	margin:0;
}

.pika-thumbs li .clip
{
	height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	vertical-align: center;
}

.pika-stage, .pika-textnav
{
	width: 430px;
}

.pika-stage
{
	position: relative;
}

.pika-textnav, .pika-imgnav
{
	display: none !important;
}

.pika-loader
{
	behavior: url(/js/PIE.htc);
	background: url(../images/loading.gif) 5px 3px no-repeat #000;
	background-color: rgba(0,0,0,0.9);
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	color: white;
	display: none !important;
	font-size: 11px;
	padding: 7px;
	left: 50%;
	margin-left: -30px;
	position: absolute;
	text-align: right;
	top: 49%;
	width: 60px;
}

/*--cart--*/

#product-details
{
	margin: 0 0 0 50px;
}

#product-details #title
{
	background: url(../images/dashed.gif) bottom repeat-x;
	padding: 10px 0;
	width: 394px;
}

#product-details #title h2
{
	color: #62564B;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

#product-details #title h2 a
{
	color: #62564B;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
}

#product-details #title h2 a:hover
{
	text-decoration: underline;
}

#product-details #details
{
	font-style: italic;
	padding: 35px 0 10px;
}

#product-details #prices h2
{
	background: url(../images/dashed.gif) bottom repeat-x;
	color: #62574B;
	font-family: 'DeliciousBold';
	font-size: 20px;
	font-weight: normal;
	padding:0 0 10px;
	margin:15px 0 10px;
}

#product-details #prices h2 span
{
	font-size:12px;	
}

#product-details #details h3
{
	color: #62574B;
	font-family: 'DeliciousBold';
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px;
}

#product-details #details li
{
	background: url(../images/bullet.gif) no-repeat 0 2px;
	color: #62574B;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	padding: 0 0 10px 10px;
}

#product-details #details li ul
{
	margin: 10px 0 0;
}

#product-details #price h3
{
	font-family: 'DeliciousBold';
	color: #a8c712;
	font-size: 42px;
	font-weight: normal;
}

#product-details #price h3 span
{
	font-size:20px;	
}

#product-details #price h2.delicious
{
	font-size: 22px !important;
}

#addtobag
{
	margin:8px 0 0;
}

#addtobag button
{
	background:#F17F05;
	color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-family: 'DeliciousBold';
	font-size:18px;
	text-transform:uppercase;
	cursor: pointer;
	display: block;
	padding:10px 20px;
	text-align:center;
}

#addtobag button:hover
{
	background:#F9B000;
}

/*--Product Overview---------------------------------------------------*/

.page-comparison .border-bottom
{
	background-image: url('../images/footer-tan.png');
	background-repeat: repeat-x;
	background-position: bottom center;
	position: absolute;
	width: 100%;
	height: 28px;
	bottom: -7px;
	z-index:2;
	left: 0;
}

.page-comparison.orange .border-bottom
{
	background-image: url('../images/footer-orange.png');
}

.page-comparison.green .border-bottom
{
	background-image: url('../images/footer-green.png');
}

.page-comparison.history .border-bottom
{
	background-image: url('../images/footer-brown-green.png');
}


.page-comparison #frame-footer
{
	background-color:#62574a;	
}

.page-comparison.history .comparison
{
	background-color:#A9C717;
}

.page-comparison.history #frame-footer
{
	background-color:#A9C717;
}

.comparison h2
{
	color:#ffffff;
    font-family: "DancingScriptRegular";
    font-size: 38px;
    font-weight: normal;
	margin:10px 0 0;
    text-transform: none;
	text-align:left;
}

.comparison h3
{
	color:#ffffff;
    font-family: "DeliciousBold";
    font-size: 34px;
	line-height:34px;
    font-weight: normal;
    padding: 0;
	text-align:left;
    text-transform: uppercase;
}

.comparison p
{
	color:#ffffff;
	font-family:"Georgia", serif;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin: 20px 0 0;
	text-align:left;
}

.comparison h3 span
{
	font-size:48px;
	padding:0 10px 0 0;
}

.comparison .copy
{
	margin:0 0 0 250px;
	width:400px;	
}

.comparison img
{
	margin:10px 0 0 50px;
}



/*--Product Overview----------------------------------------------------*/

#product-range li
{
	margin: 30px 0 0;
}

#product-range li .button
{
	font-family: 'DeliciousBold';
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #62564B;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	display: block;
	margin: 15px 0;
	padding: 5px 15px;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
}

#product-range li .button:hover
{
	background: #A8C712;
}

#product-range .product-image
{
	width: 300px;
}

#product-range .product-image img
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#product-range .product-information
{
	width: 500px;
}

#product-range .product-information a
{
	text-decoration: none;
}

#product-range .product-information h2
{
	margin: 20px 0 0;
}

#product-range .product-information h2 a
{
	color: #62564B;
	text-decoration: none;
}

#product-range .product-information h2 a:hover
{
	text-decoration: underline;
}

#product-range .product-information h3
{
	color: #A8C712;
	font-family: 'DeliciousBold';
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-transform: uppercase;
}

/*-----------------------------------------------------------------------
What is a BubbaCosy
------------------------------------------------------------------------*/

.image-tree
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -371px -232px;
	height: 442px;
	margin: 0 54px 0 0;
	position: relative;
	width: 317px;
}

.bird-one
{
	background: url("../images/bird-small.png") no-repeat scroll 0 0 transparent;
	bottom: 15px;
	height: 34px;
	left: 41px;
	position: absolute;
	width: 37px;
}

.bird-two
{
	background: url("../images/bird-smallest.png") no-repeat scroll 0 0 transparent;
	bottom: 29px;
	height: 20px;
	left: 86px;
	position: absolute;
	width: 24px;
}

/*-----------------------------------------------------------------------
Easy as 1 2 3
------------------------------------------------------------------------*/

.orange #frame-content h1
{
	color: #ffffff;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 48px;
	margin: 0 0 80px;
	text-transform: uppercase;
}

.orange #frame-content h1 span
{
	display: inline;
	font-family: 'DancingScriptRegular';
	font-size: 45px;
	font-weight: normal;
	line-height: 38px;
	text-transform: none;
}

#steps li
{
	background: url(../images/steps-divider.gif) right repeat-y;
	float: left;
	padding: 0 20px 20px;
	position: relative;
	width: 280px;
}

#steps .gear
{
	background: url(../images/gear.jpg) no-repeat;
	height: 94px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: -20px;
	width: 93px;
}

#steps h2
{
	color: #ffffff;
	font-family: 'DancingScriptRegular';
	font-size: 26px;
	font-weight: normal;
	line-height: 34px;
	position: absolute;
	right: 38px;
	text-transform: none;
	top: -20px;
	z-index: 99;
}

#steps li#step-three
{
	background: none;
}

#steps li#step-one .baby-image
{
	background: url("../images/sprite-solid-one.jpg") no-repeat scroll 0 -689px transparent;
	height: 261px;
	margin: 47px auto 0;
	width: 222px;
}

#steps li#step-two .baby-image
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -220px -689px;
	height: 261px;
	margin: 47px auto 0;
	width: 222px;
}

#steps li#step-three .baby-image
{
	background: url(../images/sprite-solid-one.jpg) no-repeat -442px -689px;
	height: 261px;
	margin: 47px auto 0;
	width: 120px;
}

#steps p
{
	color: #ffffff;
}

/*-----------------------------------------------------------------------
Why a BubbaCosy
------------------------------------------------------------------------*/

.green #frame-content h1
{
	color: #ffffff;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 43px;
	line-height: 48px;
	margin: 0 0 50px;
	text-transform: uppercase;
}

.green #frame-content h1 span
{
	display: inline;
	font-family: 'DancingScriptRegular';
	font-size: 45px;
	font-weight: normal;
	line-height: 38px;
	text-transform: none;
}

.green #navigation-main > li:hover > a
{
	background: #ffffff;
	color: #A8C712;
}

.green #navigation-main li#nav-shop:hover > a
{
	background: #ffffff;
	color: #e7af19;
}

#why-content
{
	position: relative;
	width: 100%;
}

#why-image
{
	background: url("../images/sprite-solid-two.jpg") repeat scroll 0 0 transparent;
	height: 448px;
	position: absolute;
	right: 0;
	top: -80px;
	width: 242px;
	z-index: 1;
}

#why-image h2
{
	color: #FFFFFF;
	font-family: 'DancingScriptRegular';
	font-size: 26px;
	font-weight: normal;
	line-height: 22px;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: -20px;
	z-index: 99;
}

#why-image .gear-one
{
	left: 60px;
}

#why-image .gear-two
{
	left: 234px;
	top: 36px !important;
}

#why-image h2 span
{
	display: block;
	color: #ffffff;
	font-family: 'DeliciousBold';
	font-weight: normal;
	font-size: 20px;
	height: 18px;
	overflow: hidden;
	text-transform: uppercase;
}

.gear-green-one
{
	background: url("../images/gears-green.jpg") repeat scroll 0 0 transparent;
	display: block;
	height: 98px;
	left: 38px;
	position: relative;
	top: -16px;
	width: 98px;
}

.gear-green-two
{
	background: url("../images/gears-green.jpg") repeat scroll 0 0 transparent;
	display: block;
	height: 98px;
	left: 211px;
	position: relative;
	top: -59px;
	width: 98px;
}

#why-bullets
{
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	position: relative;
	width: 100%;
	z-index: 2;
}

#why-bullets li
{
	background: url(../images/why-bullets.jpg) no-repeat 0 0;
	color: #62564B;
	font-size: 18px;
	font-style: italic;
	height: 34px;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 6px 0 0 80px;
}

#why-bullets .alt-bullet
{
	background-position: 0 -50px;
}

/*-----------------------------------------------------------------------
Care for your BubbaCosy
------------------------------------------------------------------------*/

.image-powerline
{
	background: url("../images/clothesline.jpg") repeat scroll 0 -2px transparent;
	height: 533px;
	position: absolute;
	right: -220px;
	top: -15px;
	width: 702px;
}

.sheet
{
	left: 440px;
	position: absolute;
	top: 159px;
}

/*-----------------------------------------------------------------------
BubbaCosy Story
------------------------------------------------------------------------*/

.brown #navigation-main li#nav-what > a
{
	background: #A8C712;
	color: #ffffff;
}

.brown #frame-content p
{
	color: #ffffff;
}

.brown #frame-content .image-moon
{
	background: url("../images/sprite-solid-two.jpg") repeat scroll -348px 0 transparent;
	height: 448px;
	position: absolute;
	right: 0px;
	top: 0;
	width: 449px;
}

/*-----------------------------------------------------------------------
BubbaCosy Testimonials
------------------------------------------------------------------------*/

.testimonials #navigation-main li#nav-people > a
{
	background: #A8C712;
	color: #ffffff;
}

.testimonials blockquote
{
	color: #62564B;
	font-size: 16px;
	font-style: italic;
	line-height: 18px;
	margin: 10px 0 15px;
}

.testimonials cite
{
	color: #A8C712;
	display: block;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	margin: 10px 0 30px;
}

.testimonials #frame-content .image-sing
{
	background: url("../images/pole.jpg") repeat scroll 0 0 transparent;
	height: 605px;
	position: absolute;
	right: 0;
	top: 0;
	width: 455px;
}

.single-note
{
	background: url(../images/note-single.jpg) no-repeat 0 0;
	height: 29px;
	width: 57px;
}

.double-note
{
	background: url("../images/note-two.jpg") no-repeat scroll 10px 0 transparent;
	height: 161px;
	width: 131px;
}

.double-note-small
{
	background: url("../images/note-two-small.jpg") no-repeat scroll 80px 0 transparent;
	height: 91px;
	width: 111px;
}

.image-sing div
{
	position: relative;
}

.note-one
{
	left: 30px;
	top: 210px;
}

.note-two
{
	left: 86px;
	top: 69px;
}

.note-three
{
	left: 69px;
	top: 81px;
}

.note-four
{
	left: 90px;
	top: 71px;
}

.note-five
{
	left: 28px;
	top: 73px;
}

/*-----------PROMO SPACE -----------------*/
.promo {
	text-align: center;
	background: #fff8db;
	width: 100%;
	margin: 0 auto;
	padding: 70px 0 50px 0;
}

#promo-border {
	background-image: url('../images/footer-promo.png');
	position: relative;
	margin-top:-7px;
}

#promo-border-top {
	background-image: url('../images/header-promo.png');
}